<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/profile" routerLinkActive="active-link" *ngIf="authGuard.canActivate(null,null)">My Account</a>
  <a routerLink="#" routerLinkActive="active-link" *ngIf="!authGuard.canActivate(null,null)">About</a>
  <a routerLink="#" routerLinkActive="active-link">Services</a>
  <a routerLink="#" routerLinkActive="active-link">Clients</a>
  <a routerLink="#" routerLinkActive="active-link">Contact</a>
</div>
